version: '3.7'

services:
  mariadb:
    image: mariadb:10.5.3-bionic
    volumes:
      - ${DATA_PATH}/mysql:/var/lib/mysql
    ports:
      - "${EXTERNAL_DATABASE_PORT}:3306"
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: root
      TZ: "Europe/Amsterdam"

  webserver:
    image: engency/webserver:debug-webserver-npm
    entrypoint: ./scripts/startup.sh
    volumes:
      - .:/var/www/html
      - ${DATA_PATH}/apache:/var/log/apache2
      - ${DATA_PATH}:/var/www/html/storage
    ports:
      - "${WEBSERVER_PORT}:80"
    environment:
      CONTAINER_ROLE: app
      APP_ENV: ${APP_ENV}
      XDEBUG_CONFIG: remote_host=172.17.0.1
      PHP_IDE_CONFIG: serverName=webserver
      TZ: "Europe/Amsterdam"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 5m
      timeout: 5s
      retries: 3
      start_period: 10s

  queue:
    image: engency/webserver:debug-webserver
    entrypoint: ./scripts/startup.sh
    user: www-data
    volumes:
      - .:/var/www/html
      - ${DATA_PATH}:/var/www/html/storage
    depends_on:
      - webserver
    environment:
      CONTAINER_ROLE: queue
      APP_ENV: local
      XDEBUG_CONFIG: remote_host=172.17.0.1
      PHP_IDE_CONFIG: serverName=queue
      TZ: "Europe/Amsterdam"
